.main__hero {
    position: relative;

}

.hero__wrap-hero {
    position: absolute;
    top: 29px;
    left: 484px;
    z-index: -1;
}

.hero__wrap-image {
    position: relative;
    top: 74px;
    left: 0;
    max-width: 886px;
    width: max-content;
}

.hero_flags {
    border: 2px solid #E8E8E8;
    border-radius: 50%;
    max-width: 450px;
    height: 450px;
    width: 100%;
    top: 30px;
    left: 190px;
    position: absolute;
    z-index: -2;
}

.hero__wrap-flag {
    position: absolute;
    --spinState: paused;

    animation-name: startmove, spin;
    animation-duration: 2s, 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1, infinite;
    animation-delay: calc(3s + var(--numb)*0.4s), calc(-3s - var(--numb)*1s);
    animation-fill-mode: both, both;
    animation-play-state: running, var(--spinState);
    width: 100%;
    /* left: 405px; */

    height: 100%;
    line-height: 0;
}

.hero__flag {
    --spinState: paused;
    position: relative;
    border: 10px solid #FFF;
    border-radius: 50%;
    animation: spin 5s linear infinite;
    animation-direction: reverse;
    animation-delay: calc(-3s - var(--numb)*1s);
    animation-play-state: var(--spinState);
    line-height: 0;
    width: max-content;
    margin: auto;
    /* transform: translate(0, -50%); */
}

.hero__flag img {
    top: -50%;
    position: relative;
}

@keyframes startmove {
    0% {
        height: 0px;
        top: 230px;
    }

    100% {
        /* height: 460px; */
        height: 100%;
        top: 0px;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(70deg);
    }

    40% {
        transform: rotate(110deg);
    }

    44% {
        transform: rotate(135deg);
    }

    56% {
        transform: rotate(225deg);
    }


    60% {
        transform: rotate(250deg);
    }

    80% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.hero__wrap-content {
    padding-top: 93px;
}

.hero__title {
    font-size: 48px;
    color: #2D2D2D;
    font-weight: 700;
    position: relative;
    margin-bottom: 22px;
}

.hero__title> :first-child {
    line-height: 65px;
    max-width: 375px;
}

.hero__title> :last-child {
    position: relative;
    top: -7px;
}

.hero__title_accent {
    color: #FF8345;
}

.hero__decription {
    margin-bottom: 30px;
    max-width: 444px;
    color: #7C7C7C;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.hero__link-button {
    padding: 8px 22px;
    margin-bottom: 50px;
    font-size: 15px;
    height: 46px;
}

.hero__wrap-input {
    max-width: 597px;
    box-shadow: 0px 20px 30px 0px rgba(222, 222, 222, 0.25);
    border-radius: 100px;
    height: 62px;
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: space-between;
    padding: 3px 6px 3px 40px;
    margin-bottom: 40px;
}

.hero__input {
    flex-grow: 1;
    border-style: none;
    font-family: Roboto, sans-serif;
    background-color: transparent;
    /* padding-right: 37px; */
}

.hero__wrap-input_error {
    outline: 4px solid #FF8345;
    position: relative;
    --error-val: "";
}

.hero__wrap-input_error::after {
    color: #FF8345;
    position: absolute;
    content: var(--error-val);
}

.hero__input:focus-visible {
    /* outline: solid 3px #48B774; */
    outline: none;
}

.hero__placeholder {
    color: #A1A1A1;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.16px;
}

.hero__button-find {
    border-radius: 50%;
    background-color: #48B774;
    width: 55px;
    height: 55px;
}

.hero__button-find:hover {
    background-color: #FF8345;
}

.hero__users {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 44px;
}

.hero__wrap-photos {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    width: 101px;
}

.hero__wrap-user {
    border: 3px solid #FFF;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero__wrap-user:nth-child(1) {
    z-index: 3;
}

.hero__wrap-user:nth-child(2) {
    z-index: 2;
}

.hero__wrap-user:nth-child(3) {
    z-index: 1;
}

.hero__wrap-user:nth-child(4) {
    z-index: 0;
    background-color: #FF8345;
}

.hero__users-wrap-description {
    font-family: Roboto, sans-serif;
}

.hero__users-link {
    font-weight: 500;
    color: #FD905A;
}

@media(max-width: 1244px) {
    .hero__wrap-hero {
        display: none;
    }

    .hero__wrap-content {
        padding-top: 40px;
    }
}

@media(max-width: 700px) {
    .hero__wrap-content {
        padding-top: 30px;
    }

    .hero__title {
        font-size: 32px;
    }

    .hero__title> :first-child {
        max-width: 276px;
        line-height: 40px;
    }

    .hero__decription {
        font-size: 14px;
    }

    .hero__link-button {
        font-size: 14px;
        height: 40px;
        margin-bottom: 30px;
    }

    .hero__wrap-input {
        height: 40px;
        max-width: 444px;
        margin-bottom: 30px;
    }

    .hero__input {
        font-size: 12px;
    }

    .hero__wrap-input_error::after {
        font-size: 12px;
    }

    .hero__button-find {
        height: 34px;
        width: 34px;
    }

    .hero__button-find svg {
        height: 22px;
        width: 22px;
    }

    .hero__users-wrap-description {
        font-size: 14px;
    }
}